<div class="hamburger-menu">
    <button mat-button
      (click)="toggleHamburgerMenuVisibility()"
      [matMenuTriggerFor]="menu">
        <div [ngClass]="{'change' : isOpen == true, '' : isOpen == false}" class="bar1"></div>
        <div [ngClass]="{'change' : isOpen == true, '' : isOpen == false}" class="bar2"></div>
        <div [ngClass]="{'change' : isOpen == true, '' : isOpen == false}" class="bar3"></div>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngFor="let routeLink of routeLinks;"
        [routerLink]="routeLink.link"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="toggleHamburgerMenuVisibility()"
        [disableRipple]="true">
            {{routeLink.label}}
      </button>
    </mat-menu>
</div>