.footer {
    background-color: #414141;
}
.container {
    padding: 2.5rem 0;
}

p {
    color: white;
}
a {
    color: white;
}
ul {
    list-style: none;
    padding: 0;
}

.title {
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 0.5rem;
}

.logo img {
    max-height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: block;
}
.logo p {
    margin-bottom: 7px;
    text-align: center;
}

.nav-menu ul {
    columns: 2;
    -ms-columns: 2;
    -moz-columns: 2;
    -webkit-columns: 2;
}

.social-media li {
    margin: 7px 0;
}
.social-media fa-icon {
    padding-right: 5px;
}

.contact p {
    margin-bottom: 7px;
}

@media (min-width: 992px) {
    .col-lg {
        border-right: 2px solid white;
        border-bottom: none;
        padding: 0px 50px;
    }
    .col-lg:last-child {
        border-right: none;
    }
}
@media (max-width: 991px) {
    .col-lg {
        border-right: none;
        border-bottom: 2px solid white;
        padding: 20px 0;
    }
    .col-lg:last-child {
        border-bottom: none;
    }

    .title {
        text-align: center;
    }
    .contact {
        text-align: center;
    }
    li {
        text-align: center;
    }
}
