<div class="footer">
    <div class="container">
        <div class="row">
            <div class="logo col-lg">
                <!-- Logo -->
                <img src="/assets/logo-footer.png">
                <p>University of Calgary</p>
                <p>Solar Car Team</p>
            </div>
            <div class="nav-menu col-lg">
                <p class="title">Menu</p>

                <ul>
                    <li *ngFor="let item of menu;">
                        <a href="{{item.link}}">{{item.label}}</a>
                    </li>
                </ul>
            </div>
            <div class="social-media col-lg">
                <p class="title">Follow Us</p>

                <ul>
                    <li *ngFor="let item of socialMedia;">
                        <a href="{{item.link}}">
                            <fa-icon [icon]=item.icon [fixedWidth]="true"></fa-icon>
                            {{item.label}}
                        </a>
                    </li>
                </ul>
            </div>  
            <div class="contact col-lg">
                <p class="title">Contact Us</p>

                <p><a href="mailto:{{contact.communicationEmail}}">{{contact.communicationEmail}}</a></p>
                <p><a href="mailto:{{contact.sponsorshipEmail}}">{{contact.sponsorshipEmail}}</a></p>
                <p>{{contact.building}}</p>
                <p>{{contact.address}}</p>
                <p>{{contact.postal}}</p>
            </div>
        </div>
    </div>
</div>
