#tempPadding{
  padding-top: 7em;
  padding-left: 1em;
  padding-bottom: 1em;
}

#ContactUsPage {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  grid-template-rows: 1fr;
  margin-top: 90px;
}

input, label {
    display:block;
}

.MessageUs {
  grid-column: 1;
  padding-left: 1em;
}

.Info{
  grid-column: 2;
  padding-left: 1em;
}

.InputBox {
  padding-top: 1em;
}
.ContactItem {
  padding-top: 1em;
  padding-bottom: 1em;
}

#input {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: rgb(255, 51, 0);
  border: 2px solid rgb(255, 51, 0);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2em;
  transition-duration: 0.2s;
}

textarea {
  resize: none;
}

.button:hover {
  background-color: white;
  color: black;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

agm-map {
  padding-top: 1em;
  height: 25em;
  width: 35em;
}
