<div id="ContactUsPage">
  <div id=tempPadding>
    </div>

  <div class="MessageUs center">
    <h2>
      Get In Touch
    </h2>
    <h6>
      Got any questions? We'd love to hear from you. Send us a message and we'll respond as soon as possible.
      </h6>
    <form>
      <div class="InputBox">
        <label for="name">Your Name (required)</label>
        <input id="input" type="text" [value]="" name="name" #name>
        </div>
      <div class="InputBox">
        <label for="email">Your Email (required)</label>
        <input id="input" type="text" [value]="" name="email" #email>
        </div>
      <div class="InputBox">
        <label for="subject">Subject</label>
        <input id="input" type="text" [value]="" #subject>
        </div>
      <div class="InputBox">
        <label for="message">Message</label>
        <textarea id = "input" rows="5" cols="50" [value]="" #message></textarea>
        </div>
     </form>
     <button class="button" (click)="sendMessage(name, email, subject, message)">SEND</button>
     </div>

  <div class="Info center">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [scrollwheel]="null"
      [gestureHandling]="'cooperative'"
      [zoom]="zoom">
      <agm-marker
        (mouseOver)="openWindow(1)"
        (markerClick)="googleMapsLink()"
        [latitude]="lat"
        [longitude]="lng">
        <agm-info-window
          [isOpen]="isInfoWindowOpen(1)"
          [latitude]="lat"
          [longitude]="lng">
            2500 University Dr NW, Calgary, AB T2N 1N4
            </agm-info-window>
          </agm-marker>
      </agm-map>
    <h2>
      Contact Details
      </h2>
    <p>
		  Please send us an email to set up a shop tour!
		  </p>
    <div class="ContactItem">
      <h5>
        SHOP LOCATION
        </h5>
      <p>
        ENC 36, University of Calgary
        </p>
      </div>

    <div class="contactItem">
      <h5>
        Email
        <br />
          <a href=mailto:communications@calgarysolarcar.ca>
            communications@calgarysolarcar.ca
            </a>
          </h5>
          <br style="clear:both;" />
        </div>

      </div>

  </div>
