<div id="ContactUsPage">
  <div id = title>
    <h1>
			Contact Us!
		  </h1>
    </div>

  <div class="MessageUs center">
    <h2>
      Get In Touch
      </h2>
    <form>
      <div class="InputBox">
        <label for="name">Your Name (required)</label>
        <input id="input" type="text" value="" name="name">
        </div>
      <div class="InputBox">
        <label for="email">Your Email (required)</label>
        <input id="input" type="text" value="" name="email">
        </div>
      <div class="InputBox">
        <label for="subject">Subject</label>
        <input id="input" type="text" value="" name="subject">
        </div>
      <div class="InputBox">
        <label for="message">Message</label>
        <textarea id = "input" rows="5" cols="50" placeholder=""></textarea>
        </div>
       <button class="button" (click)="onClick()">SEND</button>
     </form>
     </div>

  <div class="Info center">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [scrollwheel]="null"
      [gestureHandling]="'cooperative'"
      [zoom]="zoom">
      <agm-marker 
        (mouseOver)="openWindow(1)"
        [latitude]="lat" 
        [longitude]="lng">
        <agm-info-window 
          [isOpen]="isInfoWindowOpen(1)"
          [latitude]="lat" 
          [longitude]="lng">
            2500 University Dr NW, Calgary, AB T2N 1N4
            </agm-info-window>
          </agm-marker>
      </agm-map>
    <h2>
      Contact Details
      </h2>
    <p>
		  Please send us an email to set up a shop tour!
		  </p>
    <div class="ContactItem">
      <h5>
        SHOP LOCATION
        </h5>
      <p>
        ENC 36, University of Calgary
        </p>
      </div>

    <div class="contactItem">
      <h5>
        Email
        <br />
          <a href=mailto:communications@calgarysolarcar.ca>
            communications@calgarysolarcar.ca
            </a>
          </h5>
          <br style="clear:both;" />
        </div>

      </div>

  </div>
