.sponsorsPage {
    text-align: center;
}

.sponsorTier{
    margin-top: 50px;
    margin-bottom: 100px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    margin: 30px;
    max-width: 80%;
}

p {
    margin: 10px;
}

h1 {
    margin: 10px;
}