<div class="sponsorsPage">
	<div class="sponsorTier">
		<h1>
			Lead Sponsor
		</h1>
		<p>
			A special thank you to our kind donor, the faculty and everything they've done for us!
		</p>
		<a target="_blank" href={{lead[0].link}}>
			<img src='{{lead[0].logoUrl}}' width=600px alt='Schulich'>
		</a>
	</div>
<!--
	<div class="sponsorTier">
		<h1>
			Platinum Sponsor
		</h1>
		<p>
			Thank you for allowing us the opportunity to further sustainable transportation!
		</p>
		<a href="http://agpf.ca/">
			<img src='assets/sponsors/AGP.png' width=600px alt='AGP'>
		</a>
	</div>

	<div class="sponsorTier">
		<h1>
			Gold Sponsor
		</h1>
		<p>
			Thank you for helping our team educate future generations on the necessity of renewable resources!
		</p>
		<a href="https://cnoocinternational.com//">
			<img src='assets/sponsors/CNOOC.png' width=600px alt='cnooc'>
		</a>
	</div>
-->
	<div class="sponsorTier">
		<h1>
			Silver Sponsor
		</h1>
		<p>
			Thank you for giving us the ability to demonstrate that sustainable energy can be practical!
		</p>
		<div class="flex">
			<div *ngFor="let sponsor of silver">
				<a target="_blank" href={{sponsor.link}}>
					<img src={{sponsor.logoUrl}} width=400px alt='Silver Sponsor'>
				</a>
			</div>
		</div>
	</div>
<!--
	<div class="sponsorTier">
		<h1>
			Bronze Sponsor
		</h1>
		<p>
			Thank you for giving us the ability to demonstrate that sustainable energy can be practical!
		</p>
		<a href="https://bluearthrenewables.com/">
			<img src='assets/sponsors/BluEarth.png' width=400px alt='Blue Earth'>
		</a>
	</div>
-->
	<div class="sponsorTier">
		<h1>
			Friends of Solar Car
		</h1>
		<p>
			Thank you for helping us continue to innovate!
		</p>
		<div class="flex">
			<div *ngFor="let sponsor of friends">
				<a target="_blank" href={{sponsor.link}}>
					<img src={{sponsor.logoUrl}} width=250px alt='Friend'>
				</a>
			</div>
		</div>
	</div>
</div>
