img {
    height: auto;
    max-width: 348px;
    max-height: 58px;
}

.navbar {
    background-color: #E5E5E5;
    color: black;
    font-size: 120%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:20px;
    padding-bottom: 20px;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
}