.articlePage {
    background-color: white;
    padding-bottom: 31.17px;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 40px;
}

h1 {
    width: 114px;
    height: 58px;
    padding-bottom: 31.17px;

    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height:58px;

    color: black;
}
