span {
    text-align: left;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.captain-body {
    margin: auto;
    height: 100%;
    border-style: solid;
    padding: 2em;
    justify-content: center;
}

.image-container {
    width: 330px;
    height: 264px;
    margin: 0 auto 1em auto;
}

.info {
    display: flex;
    flex-direction: column;
}

.name{
    color: #BF1C1C;
}

.position {
    font-weight: bold;
    font-size: 1.2em;
}

.major {
    font-style: italic;
    font-size: 1em;
    margin-bottom: 0.5em;
}

.description {
    overflow: hidden;
}

@media screen
    and (min-width: 480px) {
        .image-container {
            min-width: inherit;
        }
}