<div class="mainPage" style="background-image: url('../../assets/main-background/elysia_driving.jpg')">
    <div class="background">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="values">
                        <h1>Educate</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="values">
                        <h1>Innovate</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="values">
                        <h1>Inspire</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="button">
                        <form action="https://www.eventbrite.ca/e/the-uofc-solar-sell-silent-auction-tickets-273574397387?aff=ebdssbdestsearch">
                            <button type="submit" class="btn btn-lg btn-light rounded-pill" >Silent Auction</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
