<div class="mainPage" style="background-image: url('../../assets/main-background/elysia_driving.jpg')">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div>
                    Some words
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="values">
                    Educate
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div>
                    Some words
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div>
                    Some words
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="values">
                    Innovate
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div>
                    Some words
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div>
                    Some words
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="values">
                    Inspire
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div>
                    Some words
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div>
                    Some words
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="button">
                    Button
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div>
                    Some words
                </div>
            </div>
        </div>
    </div>
   
</div>
