.background{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/main-background/elysia_driving.jpg') no-repeat center fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0 auto;
} 


.values{
    text-align: center;
    color: white;
    font-family: 'PTSansNarrow';
    left: 0;
    margin-top: -5em; 
    position: absolute;
    top: 33%;
    width: 100%;
} 

h1{
    letter-spacing: 0.4em;
    font-size: 10vh;
}

.b{
    left: 0;
    margin-top: 35vh; 
    position: absolute;
    top: 33%;
    width: 100%;
    text-align: center;
}

/* 
CSS for crowdfunding button
.b1{
    padding-top: 6vh;
} */

a.button{
    font-family: "OpenSans";
    color: #828282;
    background-color: white;
    /* padding: 0.3em 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em; */
    padding: 0.8vh 2vh;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255, 255, 255, 0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    text-align:center;
    /* transition: all 0.2s; */
    font-size: 1.8vh;
}

a.button:hover{
    border-color: rgb(134, 131, 131);
}
    @media all and (max-width:30em){
        a.button{
        display: block;
        margin: 0.1em auto;
    }
}
