.mainPage {
    padding-top: 2rem;
    min-width: 100%;
    background-position: 50%;
    background-size: cover;
    position: sticky;
}

.container {
    padding: 2.5rem 0;
    height: 90vh;
}

.row {
    background-color: aquamarine;
}

.col {
    background-color: beige;
}

.values {
    font-family: 'PTSansNarrow';
}

.button {
    font-family: "OpenSans";
}

/* phones */
@media screen and (max-width: 540px) {
    .container {
        padding: 2.5rem 0;
        height: 35vh; 
    }
}

/* tablets */
@media screen and (min-width: 540px) and (max-width: 1024px) {
    .container {
        padding: 2.5rem 0;
        height: 50vh; 
    }
}

