a {
    background-color: #BF1C1C;
    color: white;
    border-radius: 8px;
    margin: 1em 0 2em 0;
    min-width: 64px;
}

.body{
    text-align: center;
    margin-top: 0px;
}

.teamInfo{
    background-color: #414141;
    color: white;
    padding-bottom: 2em;
}

.ourTeam {
    text-align: center;
    padding-top: 2em;
    max-width: 800px;
    min-width: 600px;
    margin: auto;
}

.title{
    margin-bottom: 1.1em;
}

.captains-container {
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(auto ,200px)) 1fr;
    grid-template-rows: repeat(1, 1fr [col-start]);
    grid-template-areas:
    ". captain captain captain captain ."
    ". enggManager enggManager businessManager businessManager .";
    gap: 1em;
}

.captain {
    grid-area: captain;
}

.enggManager {
    grid-area: enggManager;
}

.businessManager {
    grid-area: businessManager;
}

@media screen
    and (max-width: 1024px) {
        .captains-container {
            grid-template-columns: 1fr minmax(auto ,400px) 1fr;
            grid-template-rows: repeat(3, 1fr [col-start]);
            grid-template-areas:
            ". captain ."
            ". enggManager ."
            ". businessManager .";
        }

        .ourTeam {
            margin: auto;
            padding: 2em 1em 0 1em;
            min-width: 400px;
        }
}
