.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.block {
	display: block;
	width: 100%;
}

.header > .nav-font {
	font-size: 1em;
}

img {
	height: auto;
	min-width: .5em;
	max-width: 10em;
}
a {
	color: black;
}

.header {
 	background-color: rgba(255, 255, 255, 50);
}
.menu {
	text-align: center;
}
@media screen
  and (min-width: 1024px)
 {
 	.nav-bar {
		font-size: 2em;
		align-items: center;
	  }
	  .hamburger-menu {
	   	display: none;
	  }
 }
@media screen
  and (max-width: 1023px)
 {
	  .nav-bar {
	  	display: none;
	  }
	  .hamburger-menu {
	   	display: block;
	   	margin-left: 100%;
	  }

	  .mat-tab-link {
	  	display: flex;
	  }

	  .mat-menu-content {
	  	margin-left: 100%;
	  }
	.bar1, .bar2, .bar3 {
	  width: 35px;
	  height: 5px;
	  background-color: #333;
	  margin: 6px 0;
	  transition: 0.4s;
 	}
 	.bar1.change-add, .bar2.change-add, .bar3.change-add {
	  width: 35px;
	  height: 5px;
	  background-color: #333;
	  margin: 6px 0;
	  transition: 0.4s;
	}
	.bar1.change {
	  -webkit-transform: rotate(-44deg) translate(-9px, 6px);
	  transform: rotate(-44deg) translate(-9px, 6px);
	}
	.bar2.change {opacity: 0;}
	.bar3.change {
	  -webkit-transform: rotate(44deg) translate(-8px, -8px);
	  transform: rotate(44deg) translate(-8px, -8px);
	}
}