.border-box {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 2em;
	margin: 2em;
	justify-content: space-between;
}

button {
	background-color: rgb(244, 95, 102);
}

a {
	color: white;
}

.column {
	margin-top: 90px;
}