<div class="column">
	<div class="title">
		<h2>Support Our Team</h2>
		<p>The University of Calgary Solar Car Team builds and operates our car and program through kind support from generous sponsors. You can support us through sponsoring, donating and helping us through in kind donations.</p>
	</div>
	<div class="border-box">
		<h3>Sponsor</h3>
		<p>Our team relies on kind donations of corporations, foundations and grants to build and run our program. Sponsoring our car and team includes many benefits which are listed in our sponsorship package. The University of Calgary Solar Car Team is always looking for new partners. Please contact us for more details.</p>
		<button mat-raised-button color="primary">
			<a href="mailto:sponsorship@calgarysolarcar.ca" target="_blank">Sponsor</a>
		</button>
	</div>
	<div class="border-box">
		<h3>Donate</h3>
		<p>All contributions help our team to maintain our goal to educate, innovate and inspire. Anyone can contribute to our success through personal donations. Monetary donations of twenty or more dollars are eligible for a tax receipt.</p>
		<button mat-flat-button color="primary">
			<a href="https://netcommunity.ucalgary.ca/solarcar" target="_blank">Donate</a>
		</button>
	</div>
	<div class="border-box">
		<h3>In Kind Donations</h3>
		<p>It is incredibly important to our team to be able to use the best technology available to us to further progress the practicality of solar cars. It would be our pleasure to test out and use your companies products, whether software, parts, tires or solar cells. Please contact us if you would like to work with our team.</p>
		<button mat-flat-button color="primary">
			<a href="mailto:sponsorship@calgarysolarcar.ca" target="_blank">In Kind Donation</a>
		</button>
	</div>
</div>
