.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(625px, 1fr));
  grid-auto-rows: 0.5fr;
  background-color: #595959;
}

.grid-container-specs {
  padding: 3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.specs1 {
  text-align: center;
  display: inline-block;
  border-right: 3px solid red;
}

.specs2 {
  text-align: center;
  display: inline-block;
}

.underline {
  position: relative;
  padding-bottom: 15px;
}
.underline::after {
  content: '';
  height: 4px;
  width: 100px;
  background:red;
  position: absolute;
  left: 0;
  bottom: 0;
}

.image {
  display: inline-block;
  margin: auto;
  width: 100%;
}

.description {
  display: inline-block;
  max-width: 90%;
  margin: auto;
}

#Specifications {
  display:inline-block;
}

button {
  padding-top: 15px;
  border: none;
  background: none;
  display:inline-block;
}
button:focus {
  outline: none !important;
}
