<div class="resetFormDiv">
  <form
    class="resetPasswordForm"
    [formGroup]="resetForm"
    (ngSubmit)="resetPasswordSubmit()"
  >
    <input
      type="text"
      placeholder="Email"
      formControlName="email"
      class="form-control"
      required
    />
    <div
      *ngIf="
        resetForm.get('email').invalid &&
        resetForm.get('email').errors &&
        (resetForm.get('email').dirty || resetForm.get('email').touched)
      "
    >
      <small class="error"> Please enter a valid email </small>
    </div>
    <br />
    <button
      type="submit"
      (click)="showMessage()"
      class="btn btn-danger"
      [disabled]="!resetForm.valid"
    >
      Reset Password
    </button>

    <small class="error" *ngIf="isMessageVisible">{{ message }}</small>
    <br />
    <a routerLink="/portal/login" class="backToLogin">Back to Login</a>
  </form>
</div>
