<div id="supportUsPage">
	<div class="title">
		<h4>
			Support Our Team
		</h4>
		<h6>
			The University of Calgary Solar Car Team builds, operates
			and programs the car through the kind support from our generous sponsors.
			You can support The University of Calgary Solar Car Team by sponsoring,
			donating and helping in kind donations.
		</h6>
	</div>
	<div class="content">
		<app-sponsor></app-sponsor>
		<app-donate></app-donate>
		<app-in-kind-donations></app-in-kind-donations>
	</div>
<div>