<div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <a class="navbar-brand" href="./portal">
        <h3>
            SolarCar Portal
        </h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ng-container *ngIf="LoggedIn()">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
              <ng-container *ngIf="getAuth().hasBusinessPrivileges()">
                <div *ngFor="let i of businessRouteLinks">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="{{i.link}}">{{ i.label }}</a>
                  </li>
                </div>
              </ng-container>
              <ng-container *ngIf="getAuth().hasEngineeringPrivileges()">
                <div *ngFor="let i of engineeringRouteLinks">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="{{i.link}}">{{ i.label }}</a>
                  </li>
                </div>
              </ng-container>
            <div>
              <button class="nav-link user-btn" (click)="getAuth().LogOut()">Log Out</button>
            </div>
              <a class="nav-link" routerLink="user"><img class="user-icon" src="../../../assets/portal/user-icon.png"></a>
          </div>
          <div *ngIf="LoggedIn()">
            <button class="nav-link user-btn" (click)="LogOut()">Log Out</button>
          </div>
          <div *ngIf="LoggedIn()">
            <a class="nav-link" routerLink="user"><img class="user-icon" src="../../../assets/portal/user-icon.png"></a>
          </div>
        </div>
      </ng-container>
    </nav>
  </div>
