<div class="formContainer">
  <form [formGroup]="addSponsorForm" (ngSubmit)="manageSponsor()" novalidate>
    <div class="mb-3">
      <label>Name</label>
      <input type="text" formControlName="name" class="form-control" required />
    </div>

    <div class="mb-3">
      <label>Link</label>
      <input type="text" formControlName="link" class="form-control" required />
    </div>

    <div class="mb-3">
      <label>Tier</label>
      <select formControlName="tier" class="form-control" required>
        <option [ngValue]="null" disabled>---- Select an option ----</option>
        <option *ngFor="let tier of tiers">{{ tier }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label>Logo</label>
      <input
        type="file"
        formControlName="logo"
        class="form-control"
        (change)="fileChangeEvent($event)"
      />
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="false"
        [aspectRatio]="4 / 3"
        [cropperMinWidth]="128"
        format="webp"
        imageQuality="90"
        (imageCropped)="imageCropped($event)"
      ></image-cropper>
    </div>
    <label>Logo Preview </label>
    <br />
    <img class="logoPreview" src="{{ previewLogoUrl }}" />

    <div class="mb-3">
      <button
        type="submit"
        class="btn btn-danger"
        [disabled]="!addSponsorForm.valid"
      >
        {{ mainButtonText }}
      </button>
    </div>
  </form>
</div>
<div *ngIf="actionHistory.length !== 0" class="historyTable">
  <h1 class="tableHeading">Action History</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User ID</th>
        <th scope="col">User</th>
        <th scope="col">Entity</th>
        <th scope="col">Action</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let action of actionHistory; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ action.uid }}</td>
        <td>{{ action.uName }}</td>
        <td>{{ action.eName }}</td>
        <td>{{ action.action }}</td>
        <td>{{ action.dateTime }}</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
<div class="resultsTable">
  <h1 class="tableHeading">Sponsors</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Logo</th>
        <th scope="col">Tier</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sponsor of sponsors; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ sponsor.id }}</td>
        <td>{{ sponsor.name }}</td>
        <td>
          <a target="_blank" href="{{ sponsor.link }}"
            ><img class="logoResultsPreview" src="{{ sponsor.logoUrl }}"
          /></a>
        </td>
        <td>{{ sponsor.tier }}</td>
        <td>
          <button
            (click)="deleteSponsor(sponsor)"
            class="btn btn-danger actionButton"
          >
            Delete
          </button>
          <br />
          <button
            (click)="setupSponsorUpdate(sponsor)"
            class="btn btn-danger actionButton"
          >
            Update
          </button>
          <br />
          <button
            (click)="showActionHistory(sponsor)"
            class="btn btn-danger actionButton"
          >
            History
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
