.post {
    background-color: #E5E5E5;
    width: 100%;
}

.title {
    padding-top: 31.17px;
    padding-left: 31.17px;
    padding-right: 31.17px;

    font-style: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;

    color: black;
}

.date {
    padding-top: 31.17px;
    padding-bottom: 31.17px;
    padding-left: 31.17px;
    padding-right: 31.17px;

    font-style: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;

    color: #898989;
}

img {
    width: 100%;
}
