<div class="newsPage">
    <h1>News</h1>
    <br>
    <div class="container">
        <div *ngFor="let i of postData">
            <div class="item">
                <div *ngIf="i.author === 'University of Calgary Solar Team'; else newsPageRedirect">
                    <a [routerLink]="['/news', i.link]">
                        <business-post
                        title={{i.title}}
                        date={{i.date}}
                        coverPhoto={{i.coverPhoto}}
                        ></business-post>
                    </a>
                </div>
                <ng-template #newsPageRedirect>
                    <a href="{{i.link}}">
                        <business-post
                        title={{i.title}}
                        date={{i.date}}
                        coverPhoto={{i.coverPhoto}}
                        ></business-post>
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
</div>
