<div class="newsPage">
    <h1>News</h1>
    <br>
    <div class="container">
        <div *ngFor="let news of newsArticles">
          <div class="item">
            <div *ngIf="(news.link === null) else newsPageRedirect">
              <a [routerLink]="['/news', news.id]">
                <div class="post">
                  <img src={{news.thumbnailUrl}}>
                  <div class="title">{{news.name}}</div>
                  <div class="date">{{news.date}}</div>
              </div>
              </a>
            </div>
            <ng-template #newsPageRedirect>
              <a href="{{news.link}}" target="_blank">
                <div class="post">
                  <img src={{news.thumbnailUrl}}>
                  <div class="title">{{news.name}}</div>
                  <div class="date">{{news.date}}</div>
              </div>
              </a>
            </ng-template>
          </div>
        </div>
    </div>
</div>
