*, html {
    margin: 0;
    padding: 0;
}

.newsPage {
    background-color: white;
    height: 100%;
    padding-bottom: 31.17px;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 40px;
}

h1 {
    width: 114px;
    height: 58px;
    padding-bottom: 31.17px;

    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height:58px;

    color: black;
}

@media (min-width: 0px) {
    .container {
        column-count: 1;
        column-gap: 10px;
        width: 100%;
    }
    
    .container .item {
        width: 100%;
        margin-bottom: 10px;
        -webkit-colum-break-inside: avoid;
        break-inside: avoid;
        page-break-inside: avoid;
    }
}

@media (min-width: 740px) {
    .container {
        column-count: 2;
        column-gap: 10px;
        width: 100%;
    }
    
    .container .item {
        width: 100%;
        -webkit-colum-break-inside: avoid;
        break-inside: avoid;
        page-break-inside: avoid;
    }
}

@media (min-width: 1276px) {
    .container {
        column-count: 3;
        column-gap: 10px;
        width: 100%;
        max-width: none;
    }
    
    .container .item {
        width: 100%;
        max-width: none;
        -webkit-colum-break-inside: avoid;
        break-inside: avoid;
        page-break-inside: avoid;
    }
}
