.profileContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}

.tableHeading {
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.userForm {
    max-width: 80%;
    padding-left: 1em
}
