.subTeamApplicationsGridThreeRow {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding-left: 5%;
}

.subTeamApplicationsGridTwoRow {
    display: grid;
    grid-template-columns: 45% 45%;
    padding-left: 5%;
    padding-top: 5em;
}

.applicationTitle {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #BF1C1C;
}

.applications {
    text-align: center;
    padding-bottom: 5em;
}

.applicationFormButton {
    background-color: #BF1C1C;
    color: white;
    border-radius: 1.5em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border: none;
}