/* Header Grid */
.headerGrid {
  display: grid;
  grid-template-columns: 60% 40%;
}

/* Header Container */
.headerContainer {
  color: #bf1c1c;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Header Text */
.headerText {
  font-size: 7vw;
  padding-left: 0.7em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

/* Header Image Container */
.headerImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header Image */
.headerImage {
  flex-shrink: 0;
  width: 70%;
}

/* Information Grid */
.infoGrid {
  display: grid;
  grid-template-columns: 60% 40%;
}

/* Information Image Container */
.infoImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Information Image */
.infoImage {
  flex-shrink: 0;
  width: 100%;
}

/* Information Container */
.infoContainer {
  background-color: #bf1c1c;
  color: white;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  padding: 1em; /* Improved spacing */
}

/* Information Text */
.infoText {
  font-size: 1.3rem;
  position: relative;
}

/* Information Link */
.infoLink {
  padding-right: 1em;
  position: relative;
  left: 1em;
  text-decoration: none;
  color: white !important;
}

/* Information Title */
.infoTitle {
  padding-right: 0.5em;
}

/* SubTeam Applications Grid for Three Rows */
.subTeamApplicationsGridThreeRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 5%;
  gap: 1em;
}

/* SubTeam Applications Grid for Two Rows */
.subTeamApplicationsGridTwoRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 5%;
  gap: 1em;
}

/* SubTeam Applications Grid for Four Rows */
.subTeamApplicationsGridFourRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 5%;
  padding-top: 5em;
  gap: 1em;
}

/* Application Title */
.applicationTitle {
  padding-top: 1em;
  padding-bottom: 0.3em;
  color: #bf1c1c;
}

/* Applications Section */
.applications {
  text-align: center;
  padding-bottom: 5em;
}

/* Application Form Button */
.applicationFormButton {
  background-color: #bf1c1c;
  color: white;
  border-radius: 1.5em;
  padding: 0.5em 1.5em;
  border: none;
}

/* Description Text */
.descriptionText {
  margin: 0 5em;
}

/* Desktop View */
.desktop-view {
  display: grid;
}

/* Mobile View */
.mobile-view {
  display: grid;
  grid-template-columns: 1fr; /* Full-width columns */
  gap: 1em; /* Adjusted spacing */
}

/* Media Queries */

/* Large screens */
@media (min-width: 2000px) {
  .headerText {
    font-size: 7vw;
  }
}

/* Medium to Large screens */
@media (min-width: 900px) {
  .desktop-view {
    display: grid;
  }

  .mobile-view {
    display: none;
  }
}

/* Medium screens */
@media screen and (max-width: 1024px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: grid;
  }

  .infoText {
    padding-left: 1rem;
  }

  .infoTitle {
    padding-left: 1rem;
  }

  .headerText {
    font-size: 7vw;
    padding-left: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }

  .headerImage {
    width: 80%;
  }

  .subTeamApplicationsGridThreeRow,
  .subTeamApplicationsGridTwoRow {
    padding-top: 5em;
  }
}

/* Small screens */
@media screen and (max-width: 800px) {
  .infoGrid {
    grid-template-columns: 100%;
  }

  .infoContainer {
    padding: 2em 0;
    text-align: center;
  }

  .headerGrid {
    display: none;
  }
  .infoImage {
    display: none;
  }
}

/* Extra Small screens */
@media screen and (max-width: 500px) {
  .headerText {
    padding: 0;
    font-size: 3.5em;
  }

  .headerContainer {
    text-align: center;
    justify-content: center;
  }

  .headerImage {
    display: none;
  }

  .infoLink {
    left: 0;
  }

  .infoImage {
    height: 100%;
    width: 200%;
  }

  .subTeamApplicationsGridThreeRow,
  .subTeamApplicationsGridTwoRow {
    grid-template-columns: 90%;
    padding-left: 5%;
    padding-top: 3em;
    row-gap: 3em;
  }
}
