<div class="headerGrid">
  <div class="headerContainer">
    <h1 class="headerText">RECRUITING NOW</h1>
  </div>
  <div class="headerImageContainer">
    <img
      class="headerImage"
      src="../../../assets/recruitment/Schulich_Elysia_11.jpg"
    />
  </div>
</div>

<div class="infoGrid">
  <div class="infoImage">
    <img
      class="infoImage"
      src="../../../assets/recruitment/join_our_team.png"
    />
  </div>
  <div class="infoContainer">
    <h1 class="infoTitle">Information Nights</h1>
    <p class="infoText">
      <!-- Add information night details if needed -->
      Come visit us on <br />
      September 13th, 16th, 19th at 5:30 PM <br />
      in ENGG Lounge (ENE 134)
    </p>
  </div>
</div>

<div class="applications">
  <ng-container *ngIf="isMobileView(); else desktopView">
    <div class="mobile-view">
      <h1 class="applicationTitle">
        Application Deadline: September 20th, 2024 11:59PM
      </h1>
      <div class="subTeamApplicationsGridTwoRow" *ngFor="let team of subTeams">
        <div>
          <h3>{{ team.name }}</h3>
          <p>{{ team.description }}</p>
          <button
            class="applicationFormButton"
            type="button"
            (click)="goToApplication(team)"
          >
            Apply Now
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #desktopView>
    <div class="desktop-view">
      <h1 class="applicationTitle">
        Application Deadline: September 20th, 2024 11:59PM
      </h1>
      <div class="subTeamApplicationsGridFourRow">
        <div *ngFor="let team of subTeams.slice(0, 4)">
          <h3>{{ team.name }}</h3>
          <p>{{ team.description }}</p>
          <button
            class="applicationFormButton"
            type="button"
            (click)="goToApplication(team)"
          >
            Apply Now
          </button>
        </div>
      </div>
      <div class="subTeamApplicationsGridFourRow">
        <div *ngFor="let team of subTeams.slice(4)">
          <h3>{{ team.name }}</h3>
          <p>{{ team.description }}</p>
          <button
            class="applicationFormButton"
            type="button"
            (click)="goToApplication(team)"
          >
            Apply Now
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
