<div class="headerGrid">
  <div class="headerContainer">
    <h1 class="headerText">RECRUITING NOW</h1>
  </div>
  <div class="headerImageContainer">
    <img
      class="headerImage"
      src="../../../assets/recruitment/Schulich_Elysia_11.jpg"
    />
  </div>
</div>
<div class="infoGrid">
  <div class="infoImage">
    <img
      class="infoImage"
      src="../../../assets/recruitment/join_our_team.png"
    />
  </div>
  <div class="infoContainer">
    <div>
      <h1 class="infoTitle">Information Nights</h1>

      <p class="infoText">
        September 11th, 2022<br />
        6:30 pm<br />
        ENGG Lounge (ENE 134)<br />
        <br />
        September 15th, 2022<br />
        6:30 pm<br />
        ENGG Lounge (ENE 134)<br />
      </p>
    </div>
  </div>
</div>
<div class="applications">
  <div class="mobile-view">
    <h1 class="applicationTitle">Application Deadline September 23rd, 2022 11:59PM</h1>
    <div class="subTeamApplicationsGridTwoRow">
      <div>
        <h3>{{ subTeams[0].name }}</h3>
        <br />
        <p>{{ subTeams[0].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[0])"
        >
        Apply Now
        </button>
      </div>
      <div>
        <h3>{{ subTeams[1].name }}</h3>
        <br />
        <p>{{ subTeams[1].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[1])"
        >
        Apply Now
        </button>
      </div>
    </div>
    <div class="subTeamApplicationsGridTwoRow">
      <div>
        <h3>{{ subTeams[2].name }}</h3>
        <br />
        <p>{{ subTeams[2].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[2])"
        >
        Apply Now
        </button>
      </div>
      <div>
        <h3>{{ subTeams[3].name }}</h3>
        <br />
        <p>{{ subTeams[3].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[3])"
        >
        Apply Now
        </button>
      </div>
    </div>
    <div class="subTeamApplicationsGridThreeRow">
      <div>
        <h3>{{ subTeams[4].name }}</h3>
        <br />
        <p>{{ subTeams[4].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[4])"
        >
          Apply Now
        </button>
      </div>
      <div>
        <h3>{{ subTeams[5].name }}</h3>
        <br />
        <p>{{ subTeams[5].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[5])"
        >
          Apply Now
        </button>
      </div>
      <div>
        <h3>{{ subTeams[6].name }}</h3>
        <br />
        <p>{{ subTeams[6].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[6])"
          disabled
        >
        Closed
        </button>
      </div>
    </div>
  </div>
  <div class="desktop-view">
    <h1 class="applicationTitle">Application Deadline September 23rd, 2022 11:59PM</h1>
    <div class="subTeamApplicationsGridThreeRow">
      <div>
        <h3>{{ subTeams[0].name }}</h3>
        <br />
        <p>{{ subTeams[0].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[0])"
        >
        Apply Now
        </button>
      </div>
      <div>
        <h3>{{ subTeams[1].name }}</h3>
        <br />
        <p>{{ subTeams[1].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[1])"
        >
        Apply Now
        </button>
      </div>
      <div>
        <h3>{{ subTeams[2].name }}</h3>
        <br />
        <p>{{ subTeams[2].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[2])"
        >
        Apply Now
        </button>
      </div>
    </div>
    <div class="subTeamApplicationsGridFourRow">
      <div>
        <h3>{{ subTeams[3].name }}</h3>
        <br />
        <p>{{ subTeams[3].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[3])"
        >
        Apply Now
        </button>
      </div>
      <div>
        <h3>{{ subTeams[4].name }}</h3>
        <br />
        <p>{{ subTeams[4].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[4])"
        >
          Apply Now
        </button>
      </div>
      <div>
        <h3>{{ subTeams[5].name }}</h3>
        <br />
        <p>{{ subTeams[5].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[5])"
        >
          Apply Now
        </button>
      </div>
      <div>
        <h3>{{ subTeams[6].name }}</h3>
        <br />
        <p>{{ subTeams[6].description }}</p>
        <br />
        <button
          class="applicationFormButton"
          type="button"
          (click)="goToApplication(subTeams[6])"
          disabled
        >
          Closed
        </button>
      </div>
    </div>
  </div>
</div>
