<div id="carsPage">
  <div id="Gen6">
    <img src="assets/placeholder.jpg" class="center">
    <div class="button">
      <button onclick="window.open('https://www.youtube.com/watch?v=V9Sd9ePbvzQ&ab_channel=UniversityofCalgarySolarCarTeam')">Coming Soon...</button>
    </div>
  </div>

  <app-cars-info
    car='Schulich Elysia'
    gen='5'
    flip=true
    image='assets/Gen5.jpg'
    [description]="descGen5"
  >
  </app-cars-info>

  <div class="button">
    <button routerLink='/elysia'>Learn More</button>
  </div>

  <app-cars-info
    car='Schulich Delta'
    gen='4'
    image='assets/Gen4.jpg'
    [description]="descGen4"
    showSpecs=true
    [specs]="[['Year Built','2012, 2013'],
              ['Body Style', 'Two-door coupe with large rear hatch'],
              ['Seating', 'Two front'],
              ['Seating', 'Two-door coupe with large rear hatch'],
              ['Motor', 'Two rear in-wheel direct drive motors'],
              ['Brakes', 'Four wheel hydraulic disc brakes, two wheel electronic regenerative'],
              ['Storage Capacity', '0.56 cubic metres (20 cubic ft)'],
              ['Time to Design', '8 months'],
              ['Mold Construction', '3 months'],
              ['Car Construction', '3 months'],
              ['Weight', '320 kg (700 lbs)'],
              ['Length', '4.5 metres (15 ft)'],
              ['Height', '1.2 metres (4 ft)'],
              ['Width', '1.8 metres (6 ft)'],
              ['Track', '1.4 metres (4.6 ft)'],
              ['Base', '2.7 metres (8.9 ft)'],
              ['Array Power', '1000-1200 Watts'],
              ['Solar Cells', '370 Mono-Crystalline Silicon Cells'],
              ['MPPT (Maximum Power Point Tracker)', '10 Custom UC Solar MPPTs'],
              ['Batteries', '1353 Li-Ion 18650 cells (61.6 kg)'],
              ['Battery Box', 'Kevlar'],
              ['Instrumentation and Communications', 'Driver display in steering wheel, tablet interface in dash, wifi link to chase vehicle'],
              ['Suspension', 'Double A-Arm, aluminum and steel'],
              ['Top Shell', 'Carbon Fibre Reinforced EPS'],
              ['Bottom Shell', 'Carbon Fibre Reinforced Corecell, EPS Mix'],
              ['Chassis', 'Carbon Fibre and Kevlar Reinforced Corecell Monocoque']
              ]"
  >
  </app-cars-info>

  <app-cars-info
    car='Schulich Axiom'
    gen='3'
    flip=true
    image='assets/Gen3.jpg'
    [description]="descGen3"
    showSpecs=true
    [specs]="[['Year Built','2009/2010'],
              ['Budget', '$650,000'],
              ['Time to Design', '6 months'],
              ['Time to Build', '6 months'],
              ['Weight', '160 kg (353 lbs)'],
              ['Length', '5 metres'],
              ['Height', '1.2 metres'],
              ['Width', '1.8 metres'],
              ['Top Speed', '130 km/h'],
              ['Speed at Cruise', '85 km/h'],
              ['Array Power', '1200 Watts'],
              ['Solar Cells', '250 Bosch Silicon Mono-Crystalline'],
              ['MPPT (Maximum Power Point Tracker)', '10 Custom UC Solar MPPTs'],
              ['Batteries', '476 Li-Ion 18650 cells (21 kg)'],
              ['Battery Box', 'Kevlar'],
              ['Communications', 'Computer-automated wifi diagnostics and UHF radio'],
              ['Suspension', 'Double A-arm, aluminum'],
              ['Roll Bar', 'Titanium'],
              ['Chassis, Top and Bottom Shells', 'Carbon Fibre']
              ]"
  >
  </app-cars-info>

  <app-cars-info
    car='Schulich I'
    gen='2'
    image='assets/Gen2.jpg'
    [description]="descGen2"
    showSpecs=true
    [specs]="[['Year Built','2007'],
              ['Budget','$750,000'],
              ['Time to Build','9 months'],
              ['Weight','220 kg (484 lbs)'],
              ['Length','5 metres'],
              ['Height','1.15 metres'],
              ['Width','1.76 metres'],
              ['Top Speed','110 km/h'],
              ['Speed at Cruise','70-80 km/h'],
              ['Array Power','2,300 Watts'],
              ['Solar Cells','2,208 Triple Junction Gallium Arsenide Cells'],
              ['Batteries','364 Lithium Polymer Batteries (30 kg)'],
              ['Battery Box','Kevlar'],
              ['Communications','Computer-automated wifi diagnostics and UHF radio'],
              ['Chassis','Chromium-Molybdenum Steel'],
              ['Top Shell','Kevlar'],
              ['Bottom Shell','Carbon Fibre']
              ]"
  >
  </app-cars-info>

  <app-cars-info
    car='Soleon'
    gen='1'
    flip=true
    image='assets/Gen1.jpg'
    [description]="descGen1"
    showSpecs=true
    [specs]="[['Year Built','2007'],
              ['Budget','$750,000'],
              ['Time to Build','9 months'],
              ['Weight','220 kg (484 lbs)'],
              ['Length','5 metres'],
              ['Height','1.15 metres'],
              ['Width','1.76 metres'],
              ['Top Speed','110 km/h'],
              ['Speed at Cruise','70-80 km/h'],
              ['Array Power','2,300 Watts'],
              ['Solar Cells','2,208 Triple Junction Gallium Arsenide Cells'],
              ['Batteries','364 Lithium Polymer Batteries (30 kg)'],
              ['Battery Box','Kevlar'],
              ['Communications','Computer-automated wifi diagnostics and UHF radio'],
              ['Chassis','Chromium-Molybdenum Steel'],
              ['Top Shell','Kevlar'],
              ['Bottom Shell','Carbon Fibre']
              ]"
  >
  </app-cars-info>

  </div>
