/* You can add global styles to this file, and also import other style files */
.body {
    margin-top: 90px;
    overflow-x: scroll;
    min-width: 480px;
    overflow-y: hidden;
}

p{
    font-family: "Actor";
}

@font-face{
    font-family: "PTSansNarrow";
    src: url("assets/fonts/PTSansNarrow-Regular.ttf");
}

@font-face{
    font-family: "OpenSans";
    src: url("assets/fonts/OpenSans-Light.ttf");
}

@font-face{
    font-family: "Actor";
    src: url("assets/fonts/Actor-Regular.ttf");
}

blockquote {
  border-left: 3px solid rgba(0,0,0,0.21);
  padding-left: 12px;
  color: rgba(0,0,0,0.54);
}

