/* You can add global styles to this file, and also import other style files */
.body {
    margin-top: 90px;
    font-family: 'Actor';
    overflow-x: scroll;
    min-width: 480px;
    overflow-y: hidden;
}