/* You can add global styles to this file, and also import other style files */
.body {
    margin-top: 90px;
    overflow-x: scroll;
    min-width: 480px;
    overflow-y: hidden;
}

p, span {
    font-family: "Actor";
}

h1 {
    font-family: "SairaMedium";
    font-size: 3em;
}

h2, h3 {
    font-family: "SairaLight";
    font-size: 2em;
}

a {
    font-family: "SairaMedium";
}

button {
    font-family: "SairaLight";
    color: #fff;
}

@font-face{
    font-family: "PTSansNarrow";
    src: url("assets/fonts/PTSansNarrow-Regular.ttf");
}

@font-face{
    font-family: "OpenSans";
    src: url("assets/fonts/OpenSans-Light.ttf");
}

@font-face{
    font-family: "Actor";
    src: url("assets/fonts/Actor-Regular.ttf");
}


@font-face {
    font-family: "SairaMedium";
    src: url("assets/fonts/Saira-Medium.ttf");
}

@font-face {
    font-family: "SairaLight";
    src: url("assets/fonts/Saira-Light.ttf");
}

blockquote {
  border-left: 3px solid rgba(0,0,0,0.21);
  padding-left: 12px;
  color: rgba(0,0,0,0.54);
}
