.border-box {
	border-style: solid;
	border-width: 3px;
	border-color: black;
	padding: 2em;
	margin: 2em;
	justify-content: space-between;
}

.title {
	margin: auto;
	width: 87%;
	justify-content: center;
}

button {
	background-color: rgb(244, 95, 102);
}

a {
	color: white;
}

.column {
	margin: auto;
	margin-top: 40px;
	width: 50%;
	text-align: center;
}

.buttons {
	background-color: #BF1C1C;
}

@media screen and (max-width:1024px) {
	.column {
		margin: auto;
		margin-top: 40px;
		width: 80%;
		text-align: center;
	}
}
