<div id="ContactUsPage">
  <div class="contactDetails">
    <h1>
      Contact Details
    </h1>
    <h2 style="padding-bottom: 1.0em;">
      Please send us an email to set up a shop tour!
    </h2>
    <div class="contactDetailsGrid">
      <div *ngFor="let i of socialMediaList">
        <div *ngIf="i.platform != 'Email'; else elseBlock">
          <div class="contactDetailsGridItem">
            <a href="{{i.link}}">
                <fa-icon class="icon" [icon]=i.icon></fa-icon>
                <h3>{{i.platform}}</h3>
                <h4>{{i.handle}}</h4>
            </a>
          </div>
        </div>
        <ng-template #elseBlock>
          <div class="contactDetailsGridItem">
            <img src='../assets/contact-us/emailLogo.png' style="width: 15px; height: 15px;">
            <h3 style="padding-top: 2px;">{{i.platform}}</h3>
            <p>{{i.handle}}</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="MessageUs">
    <h1>
      Get In Touch
    </h1>
    <form>
      <div class="InputBox">
        <input id="input" type="text" [value]="" name="name" placeholder="Name" #name>
        </div>
      <div class="InputBox">
        <input id="input" type="text" [value]="" name="email" placeholder="Email" #email>
        </div>
      <div class="InputBox">
        <input id="input" type="text" [value]="" placeholder="Subject" #subject>
        </div>
      <div class="InputBox">
        <textarea id = "input" rows="5" cols="50" [value]="" placeholder=" Message" #message></textarea>
        </div>
     </form>
     <button class="button" (click)="sendMessage(name, email, subject, message)">Send</button>
  </div>
  <div class="infoGridContainer">
    <div class="shopLocationContainer">
      <h2>Shop Location</h2>

      <h3>ENC 36, Schulich School of Engineering</h3>
      <h3>2500 University Dr NW</h3>
      <h3>Calgary, AB T2N 1N4</h3>
    </div>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
  </div>
  
</div>
