#ContactUsPage {
  background-color: #e5e5e5;
  text-align: center;
}

.contactDetails {
  padding-top: 85px;
  padding-bottom: 65px;
  background-color: #414141;
  color: white;
}

.contactDetailsGridItem {
  background-color: #414141;
  height: 100%;
  width: 100%;
}

.contactDetailsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contactDetailsGrid > * {
  margin: 1rem 1.5rem;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 0.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

img {
  width: 100%;
}

input,
label {
  display: block;
}

.infoGridContainer {
  background-color: #bf1c1c;
  display: grid;
  grid-template-columns: 40% 60%;
}

.shopLocationContainer {
  color: white;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.MessageUs {
  background-color: #e5e5e5;
  padding-top: 65px;
  padding-bottom: 65px;
  justify-content: center;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

.Info {
  grid-column: 2;
  padding-left: 1em;
}

.InputBox {
  padding-top: 1em;
  font-size: 1.2rem;
}
.ContactItem {
  padding-top: 1em;
  padding-bottom: 1em;
}

#input {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #bf1c1c;
  border: 2px solid #bf1c1c;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 0.7em;
  transition-duration: 0.2s;
  margin-top: 3.5rem;
}

textarea {
  resize: none;
}

.button:hover {
  background-color: white;
  color: black;
}
