<div class="sponsorsPage body">
	<div class="title">
		<h4>
			Support Our Team
		</h4>
		<h6>
			The University of Calgary Solar Car Team builds, operates
			and programs the car through the kind support from our generous sponsors.
			You can support The University of Calgary Solar Car Team by sponsoring,
			donating and helping in kind donations.
		</h6>
	</div>
	<div>
		<div id="sponsor">
			<h4 class="title">
				Sponsor
			</h4>
			<p class="content">
				Our team relies on kind donations of corporations, foundation
				and grants to build and run our program. Sponsoring our car and team
				includes many benefits which are listed in our sponsorship package.
				The University of Calgary Solar Car Team is always looking for new partners.
				Please contact us for more details.  
			</p>
			<button>
				Sponsor
			</button>
		</div>
		<div id="donate">
			<h4 class="title">
				Donate
			</h4>
			<p class="content">
				All contributions help our team to maintain our goal to educate,
				innovate and inspire.
				Anyone can contribute to our success through personal donations.
				Monetary donations of twenty dollars or more are eligible for a tax receipt. 
			</p>
			<button>
				Donate
			</button>
		</div>
		<div id="donate">
			<h4 class="title">
				In Kind Donations
			</h4>
			<p class="content">
				It is incredibly important to our team to be able to use the best
				technology available to us to further progress the practicality of solar cars.
				It would be our pleasure to test out and use your company's products,
				whether software, parts, tires or solar cells.
				Please contact us if you would like to work with our team.
			</p>
			<button>
				Contribute
			</button>
		</div>
	</div>
</div>