.sponsorsPage {
    margin-top: 180px;
    text-align: center;
}

.sponsorTier{
    margin: 100px;
    margin-bottom: 250px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    margin: 30px;
    max-width: 100%;
}